/* CSS files add styling rules to your content */

body {
  font-family: "Lucida Console", Courier, monospace;
  margin: 2em;
}

h1 {
  font-style: italic;
  font-size: 90px;
  color: lightpink;
}

.responsive {
  width: 100%;
  height: auto;
}

img {
  float: left;
}
