/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  text-align: center;
}

h1 {
  font-style: oblique;
  ;
}

.mainPage { 
  background-color: lightgray;
}

.redPill {
  content:"";
  background-image: url('https://cdn.glitch.com/c10e5ca0-0dc5-4613-ac48-b9ea7d659d4b%2F9418E693-4604-4D05-A420-40146FF44357.jpg?v=1606618843738');
  background-size: cover;
  opacity:0.75;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  width:auto;
  height:auto;
  z-index:-3;
  color: white;
}

.bluePill {
  content:"";
  background-image: url('https://cdn.glitch.com/c10e5ca0-0dc5-4613-ac48-b9ea7d659d4b%2FIMG_0019.JPG?v=1606618772778');
  background-size: cover;
  opacity:0.75;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  width:auto;
  height:auto;
  z-index:-3;
  color: black;
}

.greenPath {
  background-color: darkgreen;
  color: white;
}

.pinkPath {
  background-color: pink;
}

.purpleButton {
  background-color: plum;
}

.yellowButton {
  background-color: lemonchiffon;
}

.blackCup {
  background-color: black;
  color: white;
}

.whiteCup {
  background-color: white;
}

.orangeCup {
  background-color: darkorange;
}